.navbar-brand img{
    width: 100px;
    border-radius: 50%;
}
.navbar-brand p{
    font-size: 35px ;
}

.navbar{
    background-color: #082A33;
}

.navbar-toggler{
    background-color: #A4487B;
    border-radius: 0%;
}

h1{
    text-align: center;
    color: #3DB2E8;
}

h2{
    color: #3DB2E8;
}

.main{
    margin: 40px;
}


.main img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
}


aside{
    margin: 40px;
    margin-bottom: 100px;
}

aside img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

aside a{
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    color: #000; 
    background-color: #D9D9D9;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  aside div{
    width: 200px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }

footer{
    color:#89A86C;
    background-color: #082A33;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.copyright{
    text-align: center;
}

i{
    font-size:  48px;
    color: #3DB2E8;
}